@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@600;700;800&display=swap');

:root {
    font-size: 62.5%;
    --description-text-color: rgba(24, 22, 45, 1);
    --article-color: rgba(53, 121, 244, 1);
    --first-text-color: #18162D;
    --sel-text-color: #3579F4;
    --bright-blue: #5591ff;
    --bright-blue-focused: #3869c4;
    --card-background: #F0F0FA;
    --footer-text-copyright: rgba(255, 255, 255, 0.4);
    --button-send-color: #8C8C8C;
    --button-send-color-active: #ffffff;
    --text-selection: #b69981;
    font-family: 'Inter' ,sans-serif;
}
::selection {
    background: var(--text-selection);
    
    color: var(--first-text-color);
    text-shadow: none;
}
body{
    position: relative;
}

html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    transition-duration: 0.5s;
}
a:hover{
    color: var(--sel-text-color);
}
h1{
    visibility: hidden;
}

h2{
    font-family: 'Mulish';
    color: var(--article-color);
    
    width: max-content;
    margin-right: 2rem;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    justify-self: start;
}

h3{
    color: var(--article-color);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
}

header{
    all: unset;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header a{
    width: min-content;
}

header div{
    display: flex;
    flex-wrap: nowrap;
}

section, header, form, .contacts_section div, footer div{
    padding-left: 6%;
    padding-right: 6%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (min-width: 1400px) {
    section, header, form, .contacts_section div, footer div{
        padding-left: 13rem;
        padding-right: 13rem;
    }
}

ul{
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}


li {
    list-style: none;

    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    padding-bottom: 3.5rem;
    padding-top: 3.5rem;

    font-family: 'Mulish';
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.main_site_logo{
    max-width: 18.4rem;
}
@media all and (min-width: 600px) {
    .main_site_logo {
        max-width: 25.6rem;
    }
}

.first_article{
    color: var(--first-text-color);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 2.7rem;
    color: transparent;
    -webkit-background-clip: text;
    padding-bottom: 1rem;
    
    background-clip: text;
    background-image: linear-gradient(90deg, rgb(10, 32, 158), rgb(198, 233, 240), rgb(26, 162, 167));

}

.flex_main_article{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    align-items: end;
}
@media all and (min-width: 600px) {
    .flex_main_article {
        align-items: center;
    }
}


.img_main_photo{
    height: auto;
    max-width: 65.9rem;
}
.img_main_photo img{
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}
.img_main_photo img:last-child{
    display: none;
}

@media all and (min-width: 600px) {
    .img_main_photo {
        max-width: 95.9rem;
        min-width: 65.9rem;
        z-index: -1;
    }
    .img_main_photo img:first-child{
        display: none;
    }
    .img_main_photo img:last-child{
        display: initial;
    }
}

.cards_container{
    display: grid;
    grid-template-columns: repeat(3, 11.5rem);
    padding: 0;
}
.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.card_item{
    all:unset;
    text-align: center;
}
.card_item p {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.card_item img {
    all:unset;

    background: var(--card-background);
    border-radius: 1rem;
    
    width: 4.7rem;
    height: 4.7rem;

    padding: 2rem 2.8rem;
}

@media all and (min-width: 600px) {
    .cards_container img{
        padding: 2rem 25%;
    }
}
.main_article{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
}


.flex_article{
    padding-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

hr{
    border-color: var(--article-color);
    border-width: 0.2rem;
    border-radius: 0.2rem;
    border-inline-color: var(--article-color);
    min-width: 25rem;
    flex-grow: 1;
}
.flex_article_content{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.img_second_article{
    height: auto;
    width: 100%;
    max-width: 70.5rem;
}
.services_article{
    color: var(--first-text-color);
}


.description_main{
    width: 32rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--description-text-color);
}
.description_second{
    padding-right: 2rem;
    width: 32rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--description-text-color);
}

.options_menu{
    display: none;
    gap: 1.5rem;
}
.options_menu a {
    color: var(--first-text-color);
}
.options_menu ul{
    all: unset;
    padding: 1rem;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.options_menu li{
    all: unset;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 20px;
}
.options_menu div{
    all: unset;
    display: flex;
    flex-wrap: nowrap;
}
.menu_button {
    margin-left: auto;
    margin-right: -1rem;
    display: block;
    background-color: transparent;
    border-color: transparent;
}

@media all and (min-width: 600px) {
    .options_menu{
        display: flex
    }
    .menu_button{
        display: none;
    }
}



.contacts_section, .sign_up_form{
    max-width: 100%;
    padding-right: 0;

    background-color: var(--article-color);
    border-radius: 3.5rem 3.5rem 0 0;

    margin-top: 10rem;
    padding-top: 5rem;
    padding-bottom: 12rem;
}
.contacts_section h2{
    color: var(--first-text-color);
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.3rem;
    color: #FFFFFF;
}
.contacts_section img {
    width: 100%;
    height: auto;
    max-width: 72.5rem;
}
.contacts_section div, .sign_up_form form div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    padding: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
}
fieldset {
    border-width: 0.6rem;
    border-radius: 1rem;
    border-color: var(--bright-blue);
    border-style: dashed;
    margin: 0.5rem;
}
fieldset > legend {
    font-size: 1.5rem;
}
.sign_up_form form div{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    max-width: 90rem;
}
.contacts_section div form{
    margin-left: 0;
    width: min-content;
}
.contacts_section button, .sign_up_form button{
    color: var(--button-send-color);
    font-family: 'Inter';
    font-weight: 80rem;
    font-size: 16px;

    border: medium none;
    width: 100%;
    border-radius: 1rem;
    height: 6rem;
    transition-duration: 0.1s;
}
.contacts_section button:hover,:focus, .sign_up_form button:hover,:focus{
    background-color: #c7c6c6;
    color: #5c5c5c;
}
.contacts_section button:active, .sign_up_form button:active{
    background-color: #18162D;
    color: var(--button-send-color-focused);
}
.sign_up_form button{
    margin: 1.5rem;
    width: 40%;
    max-width: 25rem;
}
input[type="text"], [type="password"], [type="email"], [type="tel"], [type="date"] ,textarea{
    width: 20rem;
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--bright-blue);
    color: rgba(255, 255, 255, 0.902);
    border-color: var(--bright-blue);
    border-style: solid;
    border-radius: 1rem;
    transition-duration: 0.5s;
}
input[type="text"]:focus, [type="password"]:focus, [type="email"]:focus, [type="tel"]:focus, [type="date"]:focus ,textarea:focus{
    background-color: var(--bright-blue-focused);
    border-style: solid;
    border-color: #18162D;
    color: #ffffff;
}
input[type="text"]:hover, [type="password"]:hover, [type="email"]:hover, [type="tel"]:hover, [type="date"]:hover ,textarea:hover{
    background-color: var(--bright-blue-focused);
    color: #ffffff;
}
@media all and (min-width: 600px) {
    .contacts_section{
        border-radius: 5rem 5rem 0 0;
    }
    .contacts_section h2{
        font-size: 4.6rem;
    }
}

footer {
    position: sticky;
    top: 100vh;
    background-color: var(--first-text-color);
    border-radius: 3rem 3rem 0 0;
    
    padding-top: 5rem;
    padding-bottom: 2rem;
    
    margin-top: -5rem;

    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #FFFFFF;
}
footer div:first-child { /* Флекс для первого дива */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}
footer div:first-child img:first-child{ /* Бренд компании (картинка)*/
    max-width:  27.2rem;
    align-self: center;
}
.copyright_text{
    color: var(--footer-text-copyright);
    margin-top: 7rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
}

@media all and (min-width: 600px) {
    .copyright_text{
        align-self: center;
        width: fit-content;
        margin-left: 7%;
    }
    footer div:first-child{
        text-align: start;
        flex-direction: row;
        justify-content: space-around;
    }
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.425);
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}