@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@600;700;800&display=swap');

:root {
    font-size: 62.5%;
    --description-text-color: rgba(24, 22, 45, 1);
    --article-color: rgba(53, 121, 244, 1);
    --first-text-color: #18162D;
    --bright-blue: rgba(85, 145, 255, 1);
    --card-background: #F0F0FA;
    --footer-text-copyright: rgba(255, 255, 255, 0.4);
    --button-send-color: #8C8C8C;
    font-family: 'Inter' ,sans-serif;
}

body{
    position: relative
}

html, body {
    overflow-x: hidden;
}

html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

h1{
    visibility: hidden;
}

h2{
    font-family: 'Mulish';
    color: var(--article-color);
    width: max-content;
    margin-right: 2rem;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;
    justify-self: start;
}

h3{
    color: var(--article-color);
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
}

header{
    padding-top: 3rem;
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

header, main{
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

section, header, form{
    padding-left: 6%;
    padding-right: 6%;
}



ul{
    margin-left: -4rem;
    position: relative;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
}


li {
    list-style: none;

    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    padding-bottom: 3.5rem;
    padding-top: 3.5rem;

    font-family: 'Mulish';
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    text-align: center;
    width: 32rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.main_site_logo{
    max-width: 25.6rem;
    width: 55%;
}
@media all and (min-width: 600px) {
    .main_site_logo {
        max-width: 31.9rem;
    }
}

.first_article{
    color: var(--first-text-color);
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 2.7rem;
    -webkit-text-stroke: 0.2rem rgb(0, 0, 0);
}

.flex_main_article{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: end;
}
@media all and (min-width: 600px) {
    .flex_main_article {
        align-items: center;
    }
}


.img_main_photo{
    width: 37.5rem;
    height: auto;
    min-width: 55.9rem;
    max-width: 65.9rem;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

}
.img_main_photo img{
    position: relative;
    margin-left: -4.5rem;
    height: 100%;
    min-width: 100%;
    max-width: 100%;
}

@media all and (min-width: 600px) {
    .img_main_photo {
        margin-top: -5rem;
        max-width: 95.9rem;
        min-width: 65.9rem;

        z-index: -1;
    }
}

.cards_container{
    margin: 0 -5rem;
    display: grid;
    grid-template-columns: repeat(3, 11.5rem);
    width: max-content;
}

.card_item{
    all:unset;
    text-align: center;
}
.card_item p {
    font-family: 'Mulish';
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.card_item img {
    all:unset;

    background: var(--card-background);
    border-radius: 1rem;
    
    width: 4.7rem;
    height: 4.7rem;

    padding: 2rem 2.8rem;
}

@media all and (min-width: 600px) {
    .cards_container{
        margin: 0 0 0 4rem;
        grid-template-columns: repeat(3, 60%);
    }
    .cards_container img{
        padding: 2rem 25%;
    }
}
.main_article{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
}


.flex_article{
    padding-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

hr{
    border-color: var(--article-color);
    border-width: 0.2rem;
    border-radius: 0.2rem;
    border-inline-color: var(--article-color);
    min-width: 25rem;
    flex-grow: 1;
}
.flex_article_content{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.img_second_article{
    height: auto;
    width: 100%;
    max-width: 70.5rem;
}




.description_main{
    width: 32rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--description-text-color);
}
.description_second{
    padding-right: 2rem;
    width: 32rem;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--description-text-color);
}

.options_menu{
    display: none;
}
.options_menu a {
    color: var(--first-text-color);
}
.options_menu ul{
    all: unset;
}
@media all and (min-width: 600px) {
    .options_menu{
        
    }
    .menu_button{
        display: none;
    }
}
.menu_button {
    margin-top: -4.7rem;
    margin-left: auto;
    margin-right: -1rem;
    display: block;
    background-color: transparent;
    border-color: transparent;
}

.contacts_section h2{
    color: var(--first-text-color);
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.3rem;
    color: #FFFFFF;
}
.contacts_section {
    padding-right: 0;

    background-color: var(--article-color);
    border-radius: 3.5rem 3.5rem 0 0;
    margin-right: -0.1rem;
    margin-left: -0.1rem;
    margin-top: 10rem;
    padding-top: 5rem;
    padding-bottom: 12rem;
}
.contacts_section img {
    width: 100%;
    height: auto;
    max-width: 78.5rem;
}
.contacts_section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;


    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2rem;
}
.contacts_section form{
    width: 40rem;
}
.contacts_section button{
    color: var(--button-send-color);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;

    border: medium none;
    width: 100%;
    border-radius: 1rem;
    height: 6rem;
}
.contacts_section input[type="text"] ,textarea{
    width: 100%;
    padding: 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--bright-blue);
    color: rgba(255, 255, 255, 0.9);
    border-style: none;
    border-radius: 1rem;
}
@media all and (min-width: 600px) {
    .contacts_section{
        border-radius: 5rem 5rem 0 0;
    }
    .contacts_section h2{
        font-size: 4.6rem;
    }
}

footer {
    

    background-color: var(--first-text-color);
    border-radius: 3rem 3rem 0 0;
    
    padding-top: 5rem;
    padding-bottom: 2rem;

    margin-top: -5rem;

    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #FFFFFF;
}
footer div:first-child { /* Флекс для первого дива */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
}
footer div:first-child img:first-child{ /* Бренд компании (картинка)*/
    max-width:  27.2rem;
    align-self: center;
}
.copyright_text{
    color: var(--footer-text-copyright);
    margin-top: 7rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
}

@media all and (min-width: 600px) {
    .copyright_text{
        align-self: center;
        width: fit-content;
        margin-left: 7%;
    }
    footer div:first-child{
        text-align: start;
        flex-direction: row;
        justify-content: space-around;
    }
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.9);
}